<div class="contaier">
  <p class="home-title text-center">Group Payments</p>
</div>
<%= link_to 'Login', login_path, class: 'nav-link btn btn-primary mx-3'%>
<%= link_to 'Signup', signup_path, class: 'nav-link btn mx-3'%>
