<div class="contaier">
  <h1 class="home-title text-center">Group Payments</h1>
</div>
<%= link_to 'Login', login_path, class: 'nav-link btn btn-primary mx-3 py-3'%>
<%= link_to 'Signup', signup_path, class: 'nav-link btn mx-3 py-3' %>
