<%= render 'layouts/header'%>
<div class="card my-3 text-center">
  <div class="card-body px-5">
    <%= form_with url: sessions_path, local: true do |f| %>
      <div class="md-form">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name'%>
      </div>
      <%= f.submit 'Login', class: 'btn btn-primary mt-3' %>
    <% end %>
  </div>
</div>
