<div class="container f-large">
  <%= form_with url: sessions_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= f.submit 'Log In', class: 'btn btn-primary' %>
  <% end %>
</div>
