<% provide(:title, "Groups") %>
<%= render 'layouts/header'%>
<%= render @groups %>
<div class="bg-success py-3 fixed-bottom">
  <%= link_to 'New Group', new_group_path, type: "button", class: "btn btn-outline-light w-75 mx-auto d-block"%>
</div>
