<% provide(:title, "Groups") %>
<%= render 'layouts/header'%>
<div class="space-for-new">
  <%= render @groups %>
</div>
<div class="d-flex justify-content-center">
  <%= will_paginate @groups, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<div class="bg-success py-3 fixed-bottom">
  <%= link_to 'New Group', new_group_path, type: "button", class: "btn btn-outline-light w-75 mx-auto d-block py-3"%>
</div>
