<div class="bg-primary h-100vh text-white">
  <h1 class="text-center py-5"><%= @user.name %></h1>
  <ul class="list-group my-5">
    <li class="list-group-item bg-primary"><i class="fas mr-3 fa-globe"></i> <%= link_to "All my payments", payments_path, class: 'text-white' %></li>
    <li class="list-group-item bg-primary"><i class="fas mr-3 fa-map-marker-alt"></i> <%= link_to 'All my external payments', '#', class: 'text-white' %></li>
    <li class="list-group-item bg-primary"><i class="fas mr-3 fa-user-friends"></i> <%= link_to 'All groups', '#', class: 'text-white' %></li>
  </ul>
</div>
