// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.home-title {
  margin: 200px auto;
  font-family: "Satisfy", cursive;
  font-size: 3rem;
}
