<nav class="navbar navbar-dark bg-primary py-4">
  <%= link_to burger_path, class: 'navbar-brand' do %>
    <i class="fas fa-bars fa-lg"></i>
  <% end %>
  <div class="navbar-nav text-white font-weight-bold">
    <%= yield(:title) %>
  </div>
  <div class="navbar-nav font-weight-bold">
    <%= link_to('Logout', logout_path, method: 'delete', class: 'nav-link') if logged_in? %>
  </div>
</nav>
