<nav class="navbar navbar-dark bg-primary">
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  <div class="navbar-nav">
    <%= link_to 'Profile', current_user, class: 'nav-link'%>
  </div>
</nav>
